@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ========== Global Styles ========== */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #6b6464;
}

/* ========== About Us Section ========== */
.about_us {
  background-color: black;
}

.about_us_title,
.about_us_subtext {
  background-color: #f88908;
  color: white;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat';
}

.about_us_title {
  font-size: 2.5em;
  font-weight: bolder;
  padding-top: 5vh;
}

.about_us_subtext {
  font-size: 1.5em;
  padding-bottom: 5vh;
}

.header_image {
  background-color: #f88908;
  width: 100%;
  height: 40vh;
  display: block;
}

.our_story_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh 0vh 3vh 0vh;
}

.our_story_title {
  font-size: 2.5em;
  padding: 2vh 5vw;
  background-color: #f88908;
  color: white;
  text-align: center;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0.5vh 0.5vh #0000005a;
  margin: 6vh 5vw 1vh 5vw;
}

.our_story_content {
  display: flex;
  align-items: center;
  border: 1vh solid #f88908;
  border-radius: 20px;
  margin: 5vh;
  padding: 30px;
  height: auto;
}

.our_story_img {
  width: 25vw;
  height: auto;
  background-position: center;
}

.our_story_text {
  font-size: 1.65em;
  font-weight: bold;
  text-align: justify;
  color: #6b6464;
  margin: 25px 10px 25px 40px;
}

/* ========== Why Choose Us ========== */

.why-choose-us {
  background-color: #f88908;
  color: white;
  text-align: center;
  padding: 10vh 5vw;
  position: relative;
  background-position: center;
  cursor: default;
}

.why-choose-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./RESOURCES/images/pattern_check2.png');
    background-size: 100vw; 
    background-repeat: repeat; 
    opacity: 0.1;
    z-index: 1;
}

.why-choose-us_title, .grid-container, .choose-box {        
    position: relative; 
    z-index: 2; 
}

.why-choose-us_title {
  font-size: 2.5em;
  margin: 0 0 7vh;
  padding: 20px 30px;
  background-color: white;
  color: #f88908;
  display: inline-block;
  font-weight: bolder;
  border-radius: 15px;
  box-shadow: 5px 5px #0000005a;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 3vw;
}

.choose-box {
  background-color: rgba(255, 255, 255, 0.9); 
  color: #444;
  padding: 5vh 5vw;
  height: auto;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  gap: 3vh;
  transition: 0.2s ease-in-out;
}

.choose-box:hover {
  transform: scale(1.05);
}

.box-title {
  background-color: #f88908;
  color: white;
  padding: 3vh 0.9vw;
  font-size: 1.3em;
  text-align: center;
  font-weight: bolder;
  border-radius: 3vh;
}

.box-desc {
  font-size: 1em;
  text-align: center;
  line-height: 1.4;
}

/* ========== Find Us Section ========== */
.find-us {
  padding: 5vh;
  text-align: center;
  margin: 3vh 5vw;
}

.find_us_title {
  font-size: 2.5em;
  background-color: #f58220;
  color: white;
  padding: 3vh 3vw;
  font-weight: bolder;
  border-radius: 15px;
  margin: auto;
  box-shadow: 5px 5px #0000005a;
  width: fit-content;
  margin-bottom: 4vh;
}

.find-us-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  padding: 4vh 2vh;
  height: auto;
  margin: 0 auto;
  align-items: stretch;
}

.google_maps {
  width: 100%;
  height: 40vh;
  border-radius: 2vh;
  padding: 0vh;
  margin-bottom: 0vh;
}

.info-box_address, .info-box_socials {
  border: 0.5vh solid #f58220;
  border-radius: 2vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  box-sizing: border-box;
  background-color: #fff;
}

.info-box_address {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2vh 2vw;
}

.info-box_socials {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 2vh 2vw;
  line-height: 2.7em;
  width: auto;
  height: auto;
}

.info-box_socials a {
  color: #444;
  text-decoration: none;
}

.box_header {
  font-size: 2.5em;
  font-weight: bolder;
  color: #f58220;
  margin: 2vh 0;
}

.store_location {
  font-size: 1.2em;
  margin-bottom: 2vh;
}

.socials_title {
  font-size: 2.5em;
  font-weight: bolder;
  margin: 2vh 0;
  color: #f58220;
}

.social_row {
  display: flex;
  align-items: center;
  gap: 1vh;
  margin: 1vh 0;
}

.social_icon {
  width: 7vh;
  height: 7vh;
}

.social_details {
  font-size: 1.3em;
  padding: 2vh;
  white-space: nowrap;
}

/*call to action*/
.calltoaction {
    height: fit-content;
    background-color: #f88908;
    padding: 50px 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2vw;
}

.cta_title {
    color: white;
    font-weight: bold;
    font-size: 4vw;
    max-width: 90%;
    text-align: center;
}

.cta_desc {
    color: white;
    font-weight: 300;
    font-size: 2vw;
    max-width: 70%;
    text-align: center;
}

.cta_button {
    background-color: white;
    padding: 20px 40px;
    font-size: 2vw;
    margin-top: 1vw;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 3px 4px 7px rgb(0, 0, 0, 0.5);
}

.cta_button a {
    color: #f88908;
}

@media screen and (max-width: 900px) {
  .about_us {
    padding: 0;
    margin: 0;
  }

  .about_us_title {
    font-size: 1.555em;
    padding: 2vh 1vw;
  }

  .about_us_subtext {
    font-size: 0.8em;
    padding: 0 3vw 2vh 3vw;
  }

  .header_image {
    height: 10vh;
  }

  .our_story_bg {
    margin: 0;
    padding: 0;
  }

  .our_story_title {
    font-size: 1.5em;
    padding: 2vh 10vw;
    background-color: #f88908;
    color: white;
    text-align: center;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: 0.5vh 0.5vh #0000005a;
    margin: 3vh 0;
  }

  .our_story_img {
    display: none;
  }

  .our_story_text_container {
    border: 3.5px solid #f88908;
    border-radius: 10px;
    margin: 0;
    padding: 8vw 5vw;
  }

  .our_story_text {
    font-size: 1em;
    margin: 0;
  }

  .our_story_content {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 2vw;
    margin: auto auto 3vh auto;
  }

  .why-choose-us_title {
    font-size: 1.5em;
    padding: 2vh 10vw;
    background-color: #f88908;
    color: white;
    text-align: center;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: 0.5vh 0.5vh #0000005a;
    margin: 3vh 0;
  }

  .why-choose-us {
    background-color: #f88908;
    color: white;
    text-align: center;
    padding: 3vh 5vw;
    position: relative;
    overflow: hidden;
  }

  .why-choose-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./RESOURCES/images/pattern_check2.png');
    background-size: 150vh;
    background-repeat: repeat;
    opacity: 0.1;
    z-index: 1;
    background-position: center;
  }

  .why-choose-us_title, .grid-container, .choose-box {
    position: relative;
    z-index: 2;
  }

  .why-choose-us_title {
    font-size: 1.5em;
    margin: 3vh 0 5vh;
    padding: 3vh;
    background-color: white;
    color: #f88908;
    display: inline-block;
    font-weight: bolder;
    border-radius: 2vh;
    box-shadow: 0.5vh 0.5vh #0000005a;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2vh;
  }

  .choose-box {
    background-color: rgba(255, 255, 255, 0.9);
    color: #444;
    padding: 0;
    height: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .box-title {
    background-color: #f88908;
    color: white;
    padding: 1.5vh 5vw;
    font-size: 1.2em;
    text-align: center;
    font-weight: bolder;
    border-radius: 3vh;
    margin: 2vh 2vh ;
  }

  .box-desc {
    font-size: 1em;
    text-align: center;
    line-height: 1;
    padding-bottom: 2vh;
    margin: 0 2vh 3vh;
  }

  .find-us {
    padding: 2vh 2vh;
    text-align: center;
    margin: 3vh 0;
  }

  .find_us_title {
    font-size: 1.5em;
    padding: 2vh 10vw;
    background-color: #f88908;
    color: white;
    text-align: center;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: 0.5vh 0.5vh #0000005a;
    margin: auto;
  }

  .find-us-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2vw;
    padding: 4vh 0 0 0;
  }

  .Maps {
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    padding: 0;
    margin-bottom: 0;
  }

  .info-box_address, .info-box_socials {
    width: 100%;
    border: 4px solid #f58220;
    border-radius: 2vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .info-box_address {
    display: flex;
    flex-direction: column;
    height: 55vh;
    padding: 2vh;
    margin-bottom: 1vh;
  }

  .info-box_socials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.5em;
    padding: 2vh;
    margin-bottom: 0;
  }

  .box_header {
    font-size: 1.5em;
    font-weight: bolder;
    color: #f58220;
    margin: 2vh;
  }

  .store_location {
    font-size: 1em;
    margin-bottom: 2vh;
  }

  .socials_title {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 2vh;
    color: #f58220;
  }

  .social_row {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    font-size: 6vw;
  }

  .social_icon {
    width: 3vh;
    height: 3vh;
    border-radius: 1vh;
  }

  .social_details {
    font-size: 0.8em;
    padding: 0;
    white-space: wrap;
  }

  .book_now {
    font-size: 1.2em;
    width: 80%;
    padding: 2vh;
    margin: 5vh auto;
  }

  .calltoaction {
      padding: 3vh 1vw;
  }

  .cta_title {
      font-size: 6vw;
  }

  .cta_desc {
      font-size: 3vw;
      margin: 5px 0;
  }

  .cta_button {
      font-size: 4vw;
      padding: 1vh 10vw;
  }
}