@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*montserrat font*/

@font-face {
    font-family: 'JumboSale';
    src: url('./RESOURCES/JumboSale.woff2') format('opentype');
}

/*main format*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Helvetica;
}

body {
    background-color: #faf7f7;
}

a {
    text-decoration: none;
    color: #6b6464;
}

/*footer*/
.footer { 
    background-color: #2F2A8C;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    gap: 40px;
    position: relative;
    min-height: fit-content;
    cursor: default;
}

.footer .left {
    white-space: nowrap;
    overflow: initial;
    text-overflow: ellipsis; 
    display: inline-block;
}

.footer .left h1 {
    margin: 0;
    font-size: 28px;
    text-align: right;
}

.footer .left p {
    margin: 5px 0 0;
    font-size: 18px;
    text-align: right;
}

.footer .divider2 {
    width: 2px;
    background-color: white;
    height: 150px;
}

.footer .divider3 {
    width: 90%;
    background-color: white;
    height: 2px;
    display: none;
}

.footer .right {
    text-align: left;
    display: inline-block;
}

.footer .right p {
    margin: 5px 0;
    font-size: 13px;
}

.footer .right a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.footer .right a:hover {
    text-decoration: underline;
}

.footer .icons {
    display: flex;
    margin-top: 10px;
    justify-content: start;
}

.footer .icons a {
    margin-right: 10px;
}

.footer .icons a img {
    width: 30px;
    height: 30px;
    border-radius: 7px;
}

.footer .icons img {
    box-shadow: 1px 0px 10px rgb(50, 50, 50);
}

.footer {
    text-shadow: 1px 0px 10px rgb(50, 50, 50);
}

/*footer texture*/
.footer-texture {
    position: relative;
    overflow: hidden;
}

.footer-texture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./RESOURCES/images/pattern_cat_white.png');
    background-size: 750px; 
    background-repeat: repeat; 
    opacity: 0.05;
    z-index: 1;
}

.footer {
    position: relative;
    z-index: 0;
}

/*footer for phone*/
@media screen and (max-width: 900px) {
    .footer {
        gap: 20px;
        padding: 20px;
    }
    .footer .divider2 {
        display: none;
    }
    .footer .divider3 {
        display: block;
    }
    .footer .left, .right {
        padding: 10px;
    }
    .footer .left {
        padding-top: 20px;
    }
    .footer .right {
        padding: 0 20px 10px 20px;
    }
    .footer .left h1 {
        text-align: center;
    }
    .footer .left p {
        text-align: center;
    }
}